@media screen and (max-width:400px){
    
}
@media screen and (max-width:600px){
    
}

@media  screen and (min-width:601px) {
    .navigatie{
        background-color: yellow;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* justify-items: center; */
    }
    .navi-list{
        display: inline;
        list-style-type: none;
    }
    .navi-list-item{
        display: inline;
        padding: 10px;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    .navi-link{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .navi-link:hover{
        background-color: black;
        color: yellow;
    }
    .button-div{
        display: inline;
        padding: 10px;
    }
    .navi-list-item:hover  .navi-link:hover  .button-div:hover .sub-nav-link:hover
    .dropdown-button:hover{
        color: yellow;
        background-color: black;
    }
    #dropdown{
        display: inline-block;
        position: relative;
    }
    #dropdown:hover{
        background-color: black;
        color: yellow;
    }
    .sub-nav-droplist{
        position: absolute;
        /* display: none; */
        text-align: left;
        width: 150px;
        padding: 5px 0;
        background-color: yellow;
        color: black;
        z-index: 1;
    }
    .sub-nav-droplist a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        line-height: 1em;
    }
    .sub-nav-droplist:hover a:hover{
        background-color: black;
        color: yellow;
    }
    #dropdown:hover .sub-nav-droplist{
        display: block;
    }
    .sub-nav-link:hover{
        background-color: black;
    }
}